body {
    background-color: rgb(156, 170, 188);
    margin: 0%;
}

nav {
    background-color: rgb(32, 146, 146);
    height: 100px;
    margin: 0%;
    position: sticky;
    top: 0;
}

nav ul h3 {
    color: gold;
    margin-right: 40px;
    font-family: fantasy;
}

nav ul li {
    display: inline-flex;
    color: #d01010;
    font-size: x-large;

}

@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}

.link,
.link:visited,
.link:active {
    color: #fff;
}

.link {
    text-decoration: none;
    letter-spacing: 0.5px;
    -webkit-transition: color 2s, background 1s;
    transition: color 2s, background 1s;
    margin: 0px 100px;
    padding: 36px 30px;
    color: white;
    position: relative;
    bottom: 30px;
    z-index: 0;
}

.link:hover {
    color: gold;
}

.link::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

.link:hover {
    text-decoration: none;
    -webkit-animation: fillColour 0.3s forwards ease-in-out;
    animation: fillColour 0.3s forwards ease-in-out;
}

.link:hover::before {
    -webkit-animation: fill 0.4s forwards ease-in-out;
    animation: fill 0.4s forwards ease-in-out;
    opacity: 1;
}

.s1 {
    display: inline-block;
    background-color: rgb(77, 143, 219);
    width: 20vw;
    border:#ffed67 2PX solid;
    margin: 2vw;
    border-radius: 15px;

}

.s1 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: transform 2s, width 1s, height 1s;
}

.s1 img:hover {
    width: 320px;
    height: 320px;
}

article {
    padding: 30px 10px;
}


footer {
    font-size: x-large;
    background-color: rgb(32, 146, 146);
    padding: 20px;
    color: gold;
}

.social-icon1 {
    text-align: center;
    --secondary-color: linear-gradient(#ffed67, #8989f5);
}

.social-icon1 #i1 #i {
    --white-color: rgb(255, 82, 82);
}

.social-icon1 #f1 #f {
    --white-color: rgb(6, 10, 255);
}

.social-icon1 #w1 #w {
    --white-color: rgb(4, 223, 40);
}

.social-icon1 #t1 #t {
    --white-color: rgb(35, 185, 245);
}

.social-icon1 #y1 #y {
    --white-color: rgb(255, 0, 0);
}

.social-icon1 #l1 #l {
    --white-color: rgb(253, 133, 41);
}

.social-icon1 #p1 #p {
    --white-color: rgb(255, 255, 255);
}

hr {
    background-color: gold;
    height: 5px;
    border: 0;
}